@model E_Com_Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form id="EditProduct">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Html.TextBoxFor(c => c.Name)
            </td>
        </tr>
        <tr>
            <td>
                Product Price
            </td>
            <td>
                @Html.TextBoxFor(c => c.Price)
            </td>
        </tr>
        <tr>
            <td>
                Product Description
            </td>
            <td>
                @Html.TextBoxFor(c => c.Description)
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnUpdate" type="button" value="Save" />
            </td>
        </tr>
    </table>
</form>

<script>
    $("#btnUpdate").click(function () {
        $.ajax({
            type:'Post',
            url: '/Product/Edit',
            data: $("#EditProduct").serialize()
        })
            .done(function (data) {
               $("#ActionContainer").html("");
                // alert("Success");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
</script>