
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form method="post" action="/Product/ProductTable">
        <input name="search" id="txtSearch" />
        <button id="Btnsearch" type="button">Search</button>
        <button>New</button>
    </form>
</div>


<div id="TableContainer">

    @{
        Html.RenderAction("ProductTable");
        Html.RenderAction("Create");
    }
</div>
    <script>

        $("#Btnsearch").click(function () {
            //alert("Hiii");
            var searchValue = $("#txtSearch").val();
            $.ajax({
                url: '/Product/ProductTable',
                data: {
                    search: searchValue
                }
            })
                .done(function (data) {
                    $("#TableContainer").html(data);
                    // alert("Success");
                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });

        });
    </script>
