
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form method="post" action="/Product/ProductTable">
        <input name="search" id="txtSearch" />
        <button id="Btnsearch" type="button">Search</button>
        <button id="btnNew" type="button">New</button>
    </form>
</div>


<div id="TableContainer">

    @{
        Html.RenderAction("ProductTable");
      //  Html.RenderAction("Create");

    }
</div>


<div id="ActionContainer">
   
</div>


