@model List<Product>

@{
    ViewBag.Title = "ProductTable";
}


<table>
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pro in Model)
        {
            <tr>
                <td>@pro.Name</td>
                <td>-</td>
                <td>@pro.Price</td>
                <td>
                    <button type="button" class="btnEdit" data-id="@pro.ID">Edit</button>
                    <button type="button" class="btnDelete" data-id="@pro.ID">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $("#Btnsearch").click(function () {
        //alert("Hiii");
        var searchValue = $("#txtSearch").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (data) {
                $("#ActionContainer").html(data);
                // alert("Success");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });

    $("#btnNew").click(function () {
        //alert("Hiii");
        $.ajax({
            url: '/Product/Create',

        })
            .done(function (data) {
                $("#ActionContainer").html(data);
                // alert("Success");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });


    $(".btnEdit").click(function () {
        //alert("Hiii");
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (data) {
                $("#TableContainer").html(data);
                // alert("Success");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });


    $(".btnDelete").click(function () {

        var ConfirmDelete = confirm("Are you sure want to delete this Product");
        if (ConfirmDelete) {

        //alert("Hiii");
        $.ajax({
            type:'Post',
            url: '/Product/Delete',
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (data) {
                $("#ActionContainer").html(data);
                // alert("Success");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

        
        }
    });
</script>
