@model E_Com_Entities.Category
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Html.TextBoxFor(c => c.Name)
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                @Html.TextBoxFor(c => c.Description)
            </td>
        </tr>
        <tr>
            <td>
                Image
            </td>
            <td>
                    <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" value="Save" />
            </td>
        </tr>
    </table>
}



<script>
    $("imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var TotalImage = element.files.length;
        for (var i = 0; i < TotalImage; i++) {
            var file = element.files(i);
            formData.append("Photo", file);
        }
    });
</script>